<%= render "shared/header" %>
<div class='main'>
  <div class="home_text1">
    <h2 class="h2-tag">QUESTはあなたの挑戦を応援するためのToDoアプリです。</h2>
    <p>理想の体を手に入れる、将来のために資格を取る、欲しいものを手に入れる……そんなあなたの夢が現実になる過程を、目に見える形にしてみませんか？</p>
    <p>ゲームで有名な「クエスト」ですが、英語での意味は探求・追求すること、あるいは冒険の旅を指します。</p>
    <div class="image-board1">  
      <%= image_tag "game_ken.png",class:"image-list1"%>
      <%= image_tag "ship_nanpasen.png",class:"image-list2"%>
    </div>
    <p>そして、それらが達成されると、「目的」を果たすことができるようになりますね。</p>
    <div class="image-board2">
      <%= image_tag "fantasy_maou_devil.png", class:"image-list3" %>
      <%= image_tag "kaizoku_takara.png",     class:"image-list4"%>
    </div>
  </div>
  <div class="home-text2">
    <h2 class="h2-tag2">ですが、現実ではゲームほどに分かりやすく「達成条件」は明らかになってはいません。</h2>
    <p><span>ゴールは決まっているけれど、「何をすればいいのか」は分からない</span></p>
    <p class="arrow-mark">↓</p>
    <p><span>とりあえずハードなメニューを設定してみる……？</span></p>
    <p class="arrow-mark">↓</p>
    <p><span>やる気が続かない……</span></p>
    <p><span>みたいな経験、ありませんか？</span></p>
    <p>クエスト失敗の理由は人それぞれ。ですが……</p>
    <h3 class="h3-text">それを「夢そのもの」を諦める理由にしてしまうのはもったいない！！</h3>
    <p>QUESTでは、自分自身で「クエスト達成条件」を設定することができます。</p>
    <p>自分にできることから目標を細かく具体的に書くことで、成功確率を上げて行きましょう。</p>
    <p>遠い先を見ながら、今できることを確実に行う。そんな当たり前の手助けをするのがQUESTです。</p>
  </div>
</div>