<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("logo.png", class:"quest-icon"), root_path %>
    <script language="JavaScript">
      weeks = new Array("日","月","火","水","木","金","土");
      today = new Date();
      year = today.getFullYear();
      mon = today.getMonth() + 1;
      date = today.getDate();
      day = weeks[today.getDay()];
      document.write(year,"年",mon,"月",date,"日（",day,"）");
    </script>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>