<%# 商品一覧 %>
<div class='quest-contents'>
  <%# <h2 class='title'>クエストログ</h2> %>
  <%# <%= link_to '新規投稿クエスト', "#", class: "subtitle" %>
  <ul class='quest-lists'>
    <% @quests.each do |quest| %>
      <li class='ichiran-list'>
        <%= link_to quest_path(quest)  do%>
          <div class='quest-content'>
            <%# <div class='quest-info'> %>
              <h5 class='quest-category'>
                <%= quest.category.name%>
              </h5>
              <h3 class='quest-title'>
                <%= quest.title %>
              </h3>
              <% if quest.image.present? %>
                <%= image_tag quest.image, class: "quest-image" %>
              <% end %>
              <h4 class='quest-explain'>
                <%= quest.explain %>
              </h4>
              <h5 class='quest-limit'>
                期限：<%= quest.limit %>
              </h5>
            <%# </div> %>
          </div>
        <% end %>
      </li>
    <% end%>
  </ul>
</div>
<%# /商品一覧 %>

