<div class="user-home-text1">
  <h2 class="user-room-name"><%= current_user.nickname%>さんの部屋です。</h2>
  <ul class="quest-bord">
    <li><%= link_to 'クエスト作成', '#', class: "publish-quest" %></li>
    <li><%= link_to 'クエストログ', '#'%></li>
    <li><%= link_to 'クエスト進行度一覧', '#'%></li>
    <li><%= link_to '公開中クエスト', '#'%></li>
    <li><%= link_to 'クエスト掲示板', '#'%></li>
  </ul>
</div>