<div class="user-home-text1">
  <h2 class="user-room-name"><%= current_user.nickname%>さんの部屋です。</h2>
  <% if flash[:notice] %>
      <p class="accept-log"><%= flash[:notice] %></p>
  <% else %>
      <p class="accept-log">クエストに対する変更が表示されます。</p>
  <% end %>
  <div class="create-quest-btn">
    <%= link_to '＊ クエスト作成 ＊', new_quest_path, class: "create-quest" %>
  </div>
  <ul class="quest-board">
    <div class="list__wrapper">
      <div class='list'>
        <li>
          <div class="list-name">
            <%= link_to '未受注クエスト', choosed_list_quests_path %>
          </div>
          <ul class='quest-lists'>
            <% @quests.each do |quest| %>
              <%# 本人のクエストのみ表示 %>
              <% if current_user.id == quest.user_id %>
                <%# <li class='ichiran-list'> %>
                  <%= link_to quest_path(quest.id)  do%>
                    <% if quest.checker_id == 1 %>
                      <div class='quest-content'>
                        <h5 class='quest-category'>
                          <%= quest.category.name%>
                        </h5>
                        <h3 class='quest-title'>
                          <%= quest.title %>
                        </h3>
                        <% if quest.image.present? %>
                          <%= image_tag quest.image, class: "quest-image" %>
                        <% else %>
                          <%= image_tag "no-image.png",class:"quest-image"%>
                        <% end %>
                        <h4 class='quest-explain'>
                          <%= quest.explain %>
                        </h4>
                        <h5 class='quest-limit'>
                          期限：<%= quest.limit %> 
                          <% if quest.limit_time.present? %>時刻: <%= quest.limit_time%><% end %>
                        </h5>
                      </div>
                    <% end %>
                  <% end %>
                <%# </li> %>
              <% end %>
              <%# 本人のクエストのみ表示 %>
            <% end%>
          </ul>
        </li>
      </div>
      <div class='list'>
        <li>
          <div class="list-name">
            <%= link_to '進行中クエスト', '#'%>
          </div>
          <%# checker.idの値によって表示変更 %>
          <div class='quest-contents'>
            <ul class='quest-lists'>
              <% @quests.each do |quest| %>
                <%# 本人のクエストのみ表示 %>
                <% if current_user.id == quest.user_id %>
                  <li class='ichiran-list'>
                    <%= link_to quest_path(quest)  do%>
                      <% if quest.checker_id == 2 %>
                        <div class='quest-content'>
                          <h5 class='quest-category'>
                            <%= quest.category.name%>
                          </h5>
                          <h3 class='quest-title'>
                            <%= quest.title %>
                          </h3>
                          <% if quest.image.present? %>
                            <%= image_tag quest.image, class: "quest-image" %>
                          <% else %>
                            <%= image_tag "no-image.png",class:"quest-image"%>
                          <% end %>
                          <h4 class='quest-explain'>
                            <%= quest.explain %>
                          </h4>
                          <h5 class='quest-limit'>
                            期限：<%= quest.limit %> 時刻: <%= quest.limit_time%>
                          </h5>
                        </div>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
                <%# /本人のクエストのみ表示 %>
              <% end%>
            </ul>
          </div>
        </li>
        <%# /checker.idの値によって表示変化 %>
      </div>
      <div class='list'>
        <li>
          <div class="list-name">
            <%= link_to '達成済みクエスト', '#'%>
          </div>
          <%# checker.idの値によって表示変更 %>
          <div class='quest-contents'>
            <ul class='quest-lists'>
            未実装
              <% @quests.each do |quest| %>
                <%# 投稿者本人のクエストのみ表示 %>
                <% if current_user.id == quest.user_id %>
                  <li class='ichiran-list'>
                    <%= link_to quest_path(quest)  do%>
                      <% if quest.checker_id == 3 %>
                        <div class='quest-content'>
                          <h5 class='quest-category'>
                            <%= quest.category.name%>
                          </h5>
                          <h3 class='quest-title'>
                            <%= quest.title %>
                          </h3>
                          <% if quest.image.present? %>
                            <%= image_tag quest.image, class: "quest-image" %>
                          <% end %>
                          <h4 class='quest-explain'>
                            <%= quest.explain %>
                          </h4>
                          <h5 class='quest-limit'>
                            期限：<%= quest.limit %> 時刻: <%= quest.limit_time%>
                          </h5>
                        </div>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
                <%# /本人のクエストのみ表示%>
              <% end %>
            </ul>
          </div>
        </li>
        <%# /checker.idの値によって表示変化 %>
      </div>
      <div class='list'>
        <li>
          <div class="list-name">
            <%= link_to 'クエスト達成ログ', '#'%>
          </div>
          未実装
        </li>
      </div>
      <div class='list'>
        <li>
          <div class="list-name">
            <%= link_to '公開中クエスト', '#'%>
          </div>
          未実装
        </li>
      </div>
      <div class='list'>
        <li>
          <div class="list-name">
            <%= link_to '一般依頼クエスト', '#'%>
          </div>
          未実装
        </li>
      </div>
    </div>
  </ul>
</div>